.banner{
    display: flex;
    align-items: start;
    gap: 50px;
    
}

.menu{
    display: flex;
    gap: 20px;
    margin-bottom: 140px;
    padding-left: 190px;
}

nav{
    display: flex;
    gap: 40px;

}

nav a{
    font-size: 20px;
    text-decoration: none;
}

.reclama{
        font-size: 50px;
        margin-top: 49px;
}

.buttom{
    padding-top: 100px;
    padding-right: 200px;
    display: flex;
    gap: 200px;
    font-size: 40px;
}

.btn{
    padding: 10px 100px;
}

.onuc{
    font-size: 40px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.brendy{
    width: 1500px;
    font-size: 40px;
}